testCoctail/Pods/Pods.xcodeproj/xcuserdata/shizo.xcuserdatad/xcschemes/Kingfisher.xcscheme
testCoctail/Pods/Pods.xcodeproj/xcuserdata/shizo.xcuserdatad/xcschemes/Pods-testCoctail.xcscheme
testCoctail/Pods/Pods.xcodeproj/xcuserdata/shizo.xcuserdatad/xcschemes/xcschememanagement.plist
testCoctail/testCoctail.xcodeproj/project.xcworkspace/xcuserdata/shizo.xcuserdatad/UserInterfaceState.xcuserstate
testCoctail/testCoctail.xcodeproj/xcuserdata/shizo.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
testCoctail/testCoctail.xcodeproj/xcuserdata/shizo.xcuserdatad/xcschemes/xcschememanagement.plist
testCoctail/testCoctail.xcworkspace/xcuserdata/shizo.xcuserdatad/UserInterfaceState.xcuserstate
testCoctail/testCoctail.xcworkspace/xcuserdata/shizo.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
